<div class="row">
  <div class="columns">
    <div class="new-post-form">
      <h2>Create New Post</h2>
    </div>
    <form>
      <label for="post-title">
        Title
        <input type="text" />
      </label>
      <label for="post-body">
        Body
        <textarea placeholder="Write your post here"></textarea>
      </label>

      <button type="submit" class="button">Submit Post</button>
    </form>
  </div>
</div>

<script src="/js/newpost.js"></script>