<div class="row">
  <div class="card">
    <form class="log-in-form">
      <h4 class="text-center">Sign Up</h4>
      <label>Username
        <input
          id="username-input"
          type="text"
          placeholder="Enter your username here"
        />
      </label>
      <label>Password
        <input
          id="password-input"
          type="password"
          placeholder="Enter your password here"
        />
      </label>
      <button class="button signup-button" id="signup-button">Sign Up</button>
    </form>
    <div>
      <p>Already have an account?</p>
      <a href="/login">Login here!</a>
    </div>
  </div>
</div>
<script src="/js/signup.js"></script>